html {
  scroll-behavior: smooth;
}

a
{
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 5rem;
  width: 100%;
  display: block;
  justify-content: flex-start;
  z-index: 10;
  font-weight: 300;
  transition: 0.2s ease-in-out;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.966);
  
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 55vh;
  padding: 30px;
  
}

.nav__link {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
  padding-bottom: 10px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 700;
  transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
  color: #111;
  opacity: 1;
}

.nav-toggle {
  display: none;
}

.nav__link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out;
}

.nav__link:active::before {
  background-color: #000;
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.logo {
  padding: 3vh 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  color: rgb(22, 8, 8);
  text-transform: uppercase;
  width: 25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.smalllogo {
  display: none;
}

a {
  text-decoration: none;
  color: #111;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    height: 100vh;
  }

  .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 135px;
    background-color: #111;
    width: 100%;
  }

  .logo {
    display: block;
  }

  .smalllogo {
    padding: 28px ;
    text-align: center;
    display: flex;
    align-items: center;
    color: #111;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
  }

  .logolink {
    text-decoration: none;
    color: #111;
  }

  .nav-toggle {
    display: block;
    padding: 1.4em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    outline: none;
  }

  .nav__link {
    margin: 0;
    color: #fff;
  }

  .nav-open {
    overflow: hidden;
  }

  .nav-open .nav {
    transform: translateX(0);
    width: 100vw;
  }

  .nav-open .logo {
    display: none;
  }

  .nav-open .hamburger {
    transform: rotate(0.625turn);
    background-color: #fff;
  }

  .nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background-color: #fff;
  }

  .nav-open .hamburger::after {
    opacity: 0;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background-color: #111;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }

  .hamburger::after {
    bottom: 6px;
  }

  .nav__item {
    color: #fff;
  }

  .nav__link::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }

  .nav__link:active::before {
    background-color: #fff;
  }

  .nav__link:hover::before,
  .nav__link:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}

footer
{
  padding: 50px 0;
}

.light-footer
{
  transition: .5s;
  background-color: white;
}

.dark-footer
{transition: .5s;
  background-color: black;
}

#about {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.info {
margin: 40px 0px;
}

.info p
{
  font-size: 20px;
}

.info a{font-weight: 700;}

section h2 {
  text-align: center;
  margin-bottom: 15px;
}

.face {
  opacity: 1;
  width: 100%;
  height: 900px;
  object-fit: cover;
  transition: .5s;
}

/* .textonpicture */
.textonpicture-dark h1, .textonpicture-dark p
{transition: .5s;
  color: white;
}

.textonpicture-light h1, .textonpicture-light p
{
  transition: .5s;
  color: black;
}

.textonpicture-dark
{
  transition: .5s;
  position: absolute;
  top: 300px;
  right: 100px;
  font-size: 20px;
}

.textonpicture-light {
  
  position: absolute;
  top: 300px;
  right: 100px;
  font-size: 20px;
}

.textonpicture-light h1 {
  font-size: 40px;
}

.list-exp p {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 940px) {
  .face {
    opacity: 0.5;
  }

  .textonpicture-light h1, .textonpicture-light p{
    color: white;
  }
}

@media (max-width: 920px) {
  .list-exp>li{list-style: none;}
}



.work {
  margin: 0;
  position: relative; /* 2 */
  top: 50%; /* 3 */
  transform: translate(0, -50%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.list-exp {
  list-style-type: none;
  font-size: 20px;
  margin: 20px 0px;
  font-weight: 500;
}

@media (max-width: 500px) {
  .list-exp p, .experience__card__rightside p {
    font-size: 17px;
  }
  .textonpicture-light, .textonpicture-dark
  {
    right: 0px;
  }
}


/*  */


.social {
  width: 100%;
  text-align: center;
  
}

.social .light-link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #b7b7b7;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 70px;
  margin-bottom: 20px;
}

.social .light-link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.social .light-link:hover {
  padding: 20px;
  color: black;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social light-link {
  transition: .5s;
  background-color: black;
  color: white;
  
}

/*  */

.social .dark-link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #b7b7b7;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 70px;
  margin-bottom: 20px;
}

.social .dark-link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .dark-link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social dark-link {
  background-color: black;
  color: white;
}

.light-about 
{
  transition: .5s;
  background-color: white;
  color: black;
}

.dark-about 
{
  transition: .5s;
  background-color: #000;
  color: white;
}

.light-workandexperience
{
  transition: .5s;
  background-color: rgb(231, 231, 231); width: 100%; padding: 50px 0px; color: black;
}

.dark-workandexperience
{
  transition: .5s;
  background-color: rgb(46, 46, 46);
   width: 100%; padding: 50px 0px;
   color: white;
}

.experience__header
{
  padding: 20px 0px;
}

.experience__card
{
  transition: .5s;
  display: flex;
width: 100%;
background-color: #EEEEEE;
border-radius: 70px;
padding: 30px;}

.experience__card__leftside
{
  
  width: 50%;
}

.experience__card__rightside
{
  width: 50%;
}


.experience__card__leftside img
{
  transition: .5s;
    transform: scale(1);
  width:100%;
  height: 300px;
  border-radius: 50px;
  object-fit: cover;
}

.experience__card__rightside__header h3
{
font-size: 26px;
}

.experience__card__rightside
{
  display: grid;
  text-align: center;
}

.experience__card__rightside__describe p
{
  font-family: "Gill Sans",
    "Gill Sans MT",
    Calibri,
    "Trebuchet MS",
    sans-serif;
  padding: 20px;;
font-size: 20px;
}

.experience__card__rightside__pit
{
  display: flex;
  justify-content: space-evenly;
}

.experience__card__rightside__pit img
{
width: 55px;
height: 55px;
}

@media (max-width:767px) {
  .experience__card__leftside, .experience__card__rightside
  {
    width: 100%;
    margin: 20px 0px;
  }
  
  .experience__card
  {
    display: block;
  }

}

@media (max-width: 600px) {

  .experience__card__leftside img {
    height: 200px;
  }

  .face {
    opacity: 0.3;
    height: 400px;
    width: 100%
  }

  .textonpicture-light {
    padding: 20px;
    font-size: 17px;
    top: 20%;
    color: white;

  }

  .textonpicture-light h1 {
    font-size: 10vw;
  }

  .textonpicture-dark {
    padding: 20px;
    font-size: 17px;
    top: 200px;
    color: white;

  }

  .textonpicture-dark h1 {
    font-size: 5vh;
  }
}

@media (max-width:460px) {
  .experience__card, .experience__card__leftside img
  {
    border-radius: 20px;
  }
  
.experience__card__rightside__describe p
{
  padding: 10px;
  font-size: 16px;
}
.experience__card__rightside__pit img
{
  width: 45px;
  height: 45px;
}
}

.experience__card:hover
{
  transition: .5s;
  background-color: #000;
  color: white;
}

.experience__card:hover .experience__card__leftside img
{
  transition: .5s;
  /* scale */
  transform: scale(1.06);
}