:root
{
  --clr-neutral-900:hsl(207,19%,9%);
  --clr-neutral-100:hsl(0,0%,100%);
  --clr-accent-400:hsl(142,90%,61%)
}

*, *::before, *::after
{
box-sizing: border-box;
}

.card
{
  color: white;  /* цвет текста */
  background-image: url(Picture/card-todoist.jpg); /* картинка, на которую накидывается цвет */
  background-size: cover; /* что-то там*/
  margin-bottom: 13px;
  max-width: 100%; /* максимальная высотка карточки, чтобы она не была слишком широкая*/
  border-radius: 10px; /*радиус, чтобы округлить нашу карточку */
  overflow: hidden; /* чтобы со всех сторон окрулилось */
  transition: transform 500ms ease; /* анимация */
  flex-direction: initial;
  height: 20em;
  max-height: 35ch;
}

.card:hover
{
  transform: scale(1.05); /* анимация, когда наводишь  */
  background-color: black;
}

.card-content
{
  --padding: 1.5rem;
  /* margin: var(--padding); */
  transform: translateY(65%);
  transition: transform 500ms ease;
  transition-delay: 500ms;
  background-image: linear-gradient(rgb(33, 33, 33, 0), rgb(0, 0, 0, 1) 65%);
  box-shadow: 20px 40px 20px -20px rgb(0, 0, 0, 1);
}

a:hover{color: black;}

@media (hover)
{
  .card-content
  {
    transform: translateY(80%);
    transition: transform 500ms ease;
  }

  .card:hover .card-content, .card:focus-within .card-content
  {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card-content .card:focus-within
  {
    transition-duration: 0ms;
  }

  .card-title::after
  {
    transform: scaleX(0)
  }

}

.card:hover .card-content, .card:focus-within .card-content
{
  transform: translateY(0);
  transition-delay: 500ms;
}

.card-content .card:focus-within
{
  transition-duration: 0ms;
}

.card-title
{

  position: relative;
  width: max-content;
}

.card-title::after
{
  z-index: 2;
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding)* -1) ;
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: #E74C3C;
  color: white;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.9s ease;
  
}

.card:hover, .card:focus-within
{
  transform: scale(1.05);
}

.card:hover .card-title::after
{
transform: scaleX(1);
}

.card-body
{
  color: rgb(255 255 255 / 0.8);
}

.button /* кнопка и ее свойства*/
{
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: white;
  background-color:#E74C3C;
  padding: 0.5em 1.25em;
  border-radius: 0.25em; /* радиус кнопки, чтобы округлить*/
}

.button:hover,.button:focus
{
  background-color: #CB4335;
}

@media (prefers-reduced-motion: reduce)
{
  *
  {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    animation-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.card-body{padding: 13px 0px 5px 0px}